* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(224, 224, 224);
}

.container {                    /* 전체를 감싸고 있는 container */
    display: flex;
    justify-content: space-between;

    margin-top: 300px;          /* 위아래 정렬을 어케 하지.. */
    margin-left: auto;
    margin-right: auto;

    max-width: 800px;
}

.signup_contents {              /* 회원가입에 대한 박스 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px gray;

    padding: 40px 60px;
    

    background-color: rgb(90, 189, 227);
}
.signup_contents h1 {
    margin-bottom: 20px;
    font-weight: bold;
}
.signup_contents .signup_input {
    margin-bottom: 20px;
}
.signup_contents .signup_input input{
    margin-bottom: 8px;
}

.signup_contents .signup_Btn input{                 /* 회원가입 Btn */
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(212, 142, 12);

    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    
}

.signup_input {
    display: flex;
    flex-direction: column;
}

                /* --------------------------------- 회원확인을 위한 css ------------------------------------- */

.check_contents {                           /* 회원확인을 위한 박스 */
    display: flex;
    flex-direction: column;
    position: relative;

    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px gray;

    padding: 40px 60px;

    background-color: rgb(212, 142, 12);
}

.check_contents h1 {
    margin-bottom: 20px;
    font-weight: bold;
}
.check_contents .check_data {       /* 추가될 애들의 ul태그 */
    display: none;
    flex-direction: column;

    margin-bottom: 40px;
}
.check_data .createMember {         /* 새로 만들어질 리스트 */
    display: flex;
}
.check_contents .check_Btn {         /* 회원조회+삭제 버튼들의 container */
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.check_contents .check_Btn input:nth-of-type(1) {   /* 회원조회 Btn */
    margin-right: 8px;
}
.check_contents .check_Btn input {           /* 회원확인 Btn + 회원삭제 Btn */
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(90, 189, 227);

    font-weight: bold;
}